<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <img
        src="assets/logo.png"
        alt="Lince GPS Brasil"
        class="img-circle"
        width="200"
        height="200"
      />
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <form [formGroup]="loginForm">
          <div class="input-group mb-3">
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="Digite o usuário"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Digite a senha"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-block btn-warning"
            (click)="login()"
          >
            Entrar
          </button>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>
